.contact-list {
  padding: 20px;
}

.contact-detail {
  margin: 20px;
  padding: 20px;
  border-radius: 5px;
  border: 1px solid lightgrey;
}

.contact-list-item {
  cursor: pointer;
  padding: 20px;
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid lightgrey;
}

.selected-list-item {
  background-color: whitesmoke;
}

.contact-list-item:first-of-type {
  border-top: 1px solid lightgrey;
}

.image-container {
  padding-right: 20px;
}

.contact-list-item-pic {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

.contact-list-item-name {
  font-family: 'Roboto';
}

.contact-list-item-title {
  font-family: 'Roboto';
  font-weight: lighter;
}

@media only screen and (min-width: 768px) {
  .contact-list-detail {
    display: flex;
    flex-direction: row;
  }

  .contact-list {
    border-right: 1px solid lightgrey;
    flex: 1;
  }

  .contact-detail {
    flex: 2;
  }
}

@media only screen and (min-width: 1100px) {
  .contact-list {
    flex: 1;
  }

  .contact-detail {
    flex: 1;
  }
}